*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --letra-blanca: #ffffff;
    --fondo-negro: #000000;
}

html {
    font-size: 62.5%;
    font-family: 'Muli', sans-serif;
}

body{
    background: #648381;
}
.contenedor {
    display: grid;
    width: 100%;
    grid-gap: 20px;
    min-height: 320px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header header header"
               "main main main"
               "footer footer footer";

}

.header {
 
    color: var(--letra-blanca);
    min-height: 100px;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #575761;
}


.header__title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.header--category{
    display: grid;
    width: 100%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header--category header--category header--category";
    justify-content: space-around;
    
}

.header--category a{
  
    cursor: pointer;
    text-decoration: none;
    color: var(--letra-blanca);
    font-size: 1.4rem;

    
}

.header--category a:hover{
    border: 1px solid white;
    background-color: rgba(255, 2555, 255, 0.2);
}

.main{

    grid-area: main;
    min-height: 950px;
    width: 100%;
  
}

.main__contenedor{
    width: 100%;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "caja1 caja1 caja1"
                         "caja2 caja2 caja2"
                         "caja3 caja3 caja3";
    justify-items: center;
    grid-gap: 20px;
    color: var(--letra-blanca);
    margin-top: 20px;
}




.main__contenedor .caja1 {
    background-color: #8ACB88;
    grid-area: caja1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 260px;
    min-height: 260px;
    border-radius: 30px;
    box-shadow: 1px 2px 7px 1px #000000;
}


.main__contenedor .caja1--title{

    margin-bottom: -10px;
    font-weight: bolder;
    font-size: 1.6rem;
}

.contenedor  .imagen1{
    width: 150px;
    height: 150px;
    margin-bottom: -10px;
}

.main__contenedor .caja1--subtitle{
    font-size: 1.3rem;
}

.main__contenedor input{
    border-radius: 10px;
    width: 70%;
    height: 20px;
    outline: none;
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 2555, 255, 0.8);
}

.main__contenedor input:hover{
    background-color:rgba(255, 2555, 255, 0.9);
}


::placeholder{
    color: black;
}

.main__contenedor .cuadrado--botton{
    background-color: rgba(255, 2555, 255, 0.9);
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid white;

}

.main__contenedor .cuadrado--botton:hover{  
    background-color: rgba(255, 2555, 255, 0.6);
}

.main__contenedor .caja2 {
    grid-area: caja2;
    background-color: #FFBF46;
    display: flex;
    min-width: 260px;
    min-height: 340px;
    border-radius: 30px;
    box-shadow: 1px 2px 7px 1px #000000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.main__contenedor .caja2--title{

    font-weight: bold;
    font-size: 1.6rem;
    
}

.main__contenedor .caja2--subtitle{
    font-size:1.3rem;
}

.main__contenedor .imagen2{
    width:120px;
    height:120px;
}


.main__contenedor .triangulo--botton{
    background-color: rgba(255, 2555, 255, 0.9);
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid white;

}

.main__contenedor .triangulo--botton:hover{  
    background-color: rgba(255, 2555, 255, 0.6);
}


.main__contenedor .caja3 {
    grid-area: caja3;
    background-color: #575761;;
    display: flex;
    min-width: 260px;
    min-height: 300px;
    border-radius: 30px;
    box-shadow: 1px 2px 7px 1px #000000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__contenedor .caja3--title{
    margin-top: -10px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.6rem;
}

.main__contenedor .imagen3{
    width:120px;
    height:120px;
    margin-bottom: 20px;
}

.main__contenedor .caja3--subtitle{
    font-size:1.3rem;
}

.main__contenedor .circulo--botton{
    background-color: rgba(255, 2555, 255, 0.9);
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 5px;
}

.main__contenedor .circulo--botton:hover{  
    background-color: rgba(255, 2555, 255, 0.6);
}

.footer{
    grid-area: footer;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.2);
}

.footer__contenedor{
    display: grid;
    width: 100%;
    grid-gap: 20px;
    height: 100px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "Footer--titulo footer--redes-sociales"
               "Footer--titulo footer--redes-sociales";
}

.footer__contenedor .Footer--titulo{
    grid-area: Footer--titulo;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 2rem;

}

.footer__contenedor .footer--redes-sociales{
    grid-area: footer--redes-sociales;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.footer--redes-sociales li{
    min-width: 70%;
    background-color: white;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    list-style: none;
   
}

.footer--redes-sociales a{
text-decoration: none;
color:  black;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
font-weight: bold;
font-size: 1rem;
}


.footer--redes-sociales li:hover{
    background-color:rgba(255, 255, 255, 0.2);
    cursor: pointer;
}


